<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fund.likeeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".manager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.LikeEat"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.ReviewsInThemeActivity"></activity>
        <activity android:name=".ui.MapPreviewActivity" />
        <activity
            android:name=".ui.UpdateThemeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AddThemeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.ThemeActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ReviewsActivity" />
        <activity android:name=".ui.SearchPlaceActivity" />
        <activity android:name=".ui.AddReviewActivity" />
        <activity android:name=".ui.ViewReviewActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="hiayxfl3h0" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5c58af63b020655e89596b05a75123b9" />
    </application>

</manifest>